<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

      <form method="POST" class="login-form">
        <table border="1">
    <tr>
        <td><h3>Event</h3></td>
        <td><h3>Date</h3></td>
        <td><h3>Time</h3></td>
        <td><h3>Action</h3></td>
    </tr>
    {% for i in t %}
    <tr>
        <td>{{ i['event'] }}</td>
        <td>{{ i['date'] }}</td>
        <td>{{ i['time'] }}</td>
        <td><a href="/xtn/{{ i['event'] }}"><input type="button" class="logbtn" value="Remove"></a></td>
    </tr>
    {% endfor %}

</table>
        <div class="txtb">
          <input type="text" placeholder="To Do For Today" name="todo">
        </div>

    <p><input type="submit" class="logbtn" name="s" value="Add">
    </p>
      </form>

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>


  </body>
</html>
